{%- macro confirmationMessage(params) -%}
<div class="ds_confirmation-message{%- if params.modifiers %}  {{ params.modifiers }}{%- endif -%}" aria-live="polite">
	<svg class="ds_confirmation-message__icon  ds_icon  ds_icon--24" aria-hidden="true" role="img">
		<use href="/images/icons.stack.svg#check_circle"></use>
	</svg>

	{%- if params.heading -%}
    <{{ params.headingLevel | default('h2') }} class="ds_confirmation-message__title">
		{{ params.heading }}
	</{{ params.headingLevel | default('h2') }}>
    {%- endif -%}
	{%- if params.content -%}
	<div class="ds_confirmation-message__body">
		{{ params.content | safe }}
	</div>
	{%- endif -%}
</div>

{%- endmacro -%}

{{confirmationMessage({
    content: content,
    heading: heading,
    headingLevel: headingLevel
})}}
