{# Example of card grid #}
{%- from 'src/components/card/card.njk' import card -%}
{%- if hasBackground %}
<div class="ds_category-lower  ds_pre-footer-background ">
{% endif -%}
    <div class="ds_wrapper">
        <div class="ds_card-grid-container">
            <div class="ds_card-grid {%- if isMediumTwoColumns %}  ds_card-grid--medium-2{% endif -%}">
                {%- for item in items %}
                {{card({
                    content: item.content,
                    hasMetadata: item.hasMetadata,
                    heading: item.heading,
                    isNav: item.isNav
                })}}
                {% endfor %}
            </div>
        </div>
    </div>
{%- if hasBackground %}
</div>
{% endif -%}