{%- from 'node_modules/@scottish-government-design-system/page-blocks/src/blocks/video-text/macro.njk' import sgBlockTextWithVideo -%}

{%- macro videoText(params) -%}

{%- set imageObj = {
        "src": "https://placehold.co/767x431",
        "alt": params.altText,
        "width": 767,
        "height": 431,
        "srcset": [
            {
            "src": "https://placehold.co/352x198",
            "width": 352
            },
            {
            "src": "https://placehold.co/448x252",
            "width": 448
            },
            {
            "src": "https://placehold.co/544x306",
            "width": 544
            },
            {
            "src": "https://placehold.co/704x396",
            "width": 704
            },
            {
            "src": "https://placehold.co/767x431",
            "width": 767
            },
            {
            "src": "https://placehold.co/896x504",
            "width": 896
            },
            {
            "src": "https://placehold.co/1088x612",
            "width": 1088
            },
            {
            "src": "https://placehold.co/1534x863",
            "width": 1534
            }
        ],
        "sizes": [
            {
            "media": "(min-width:1200px)",
            "size": "544px"
            },
            {
            "media": "(min-width:992px)",
            "size": "448px"
            },
            {
            "media": "(min-width:768px)",
            "size": "352px"
            }
        ]
    } %}

{{ sgBlockTextWithVideo({
    background: params.background,
    content: params.content,
    contentPosition: params.contentPosition,
    image: imageObj,
    isVerticalCentred: params.isVerticalCentred,
    removeBottomPadding: params.removeBottomPadding,
    videoUrl: "#foo"
}) }}

{%- endmacro -%}

{{videoText({
    background: background,
    removeBottomPadding: removeBottomPadding,
    isVerticalCentred: isVerticalCentred,
    contentPosition: contentPosition,
    content: content
})}}