<div class="ds_wrapper">
    <nav aria-label="Breadcrumb">
        <ol class="ds_breadcrumbs">
            <li class="ds_breadcrumbs__item">
                <a class="ds_breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="ds_breadcrumbs__item">
                <a class="ds_breadcrumbs__link" href="#">Housing</a>
            </li>
            <li class="ds_breadcrumbs__item">
                <a class="ds_breadcrumbs__link" href="#">Water supplies and sewerage</a>
            </li>
            <li class="ds_breadcrumbs__item">
                <a class="ds_breadcrumbs__link" href="#">Private water supplies</a>
            </li>
            <li class="ds_breadcrumbs__item" aria-current="page">Owning or using a private water supply</li>
        </ol>
    </nav>

    <main id="main-content" class="ds_layout  ds_layout--guide">
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <span  class="ds_page-header__label  ds_content-label">Owning or using a private water supply</span>
                <h1 class="ds_page-header__title">Moving from a private water supply to the mains network</h1>
                <dl  class="ds_page-header__metadata  ds_metadata">
                    <div class="ds_metadata__item">
                        <dt class="ds_metadata__key">Last updated</dt>
                        <dd class="ds_metadata__value">2 May 2025</dd>
                    </div>
                </dl>
            </header>
        </div>
        <div class="ds_layout__navigation">
            <nav role="navigation" class="ds_contents-nav" aria-label="Sections">
                <h2 class="ds_contents-nav__title">Contents</h2>
                <ul class="ds_contents-nav__list">
                    <li class="ds_contents-nav__item">
                        <a  href="#" class="ds_contents-nav__link">About private water supplies</a>
                    </li>
                    <li class="ds_contents-nav__item">
                        <a  href="#" class="ds_contents-nav__link">Registering, risk assessing and testing private water supplies</a>
                    </li>
                    <li class="ds_contents-nav__item">
                        <a  href="#" class="ds_contents-nav__link">Maintaining a private water supply</a>
                    </li>
                    <li class="ds_contents-nav__item">
                        <a  href="#" class="ds_contents-nav__link">Treating a private water supply</a>
                    </li>
                    <li class="ds_contents-nav__item" aria-current="page">
                        <span  class="ds_contents-nav__link  ds_current">Moving from a private water supply to the mains network</span>
                    </li>
                    <li class="ds_contents-nav__item">
                        <a  href="#" class="ds_contents-nav__link">Report problems with your private water supply</a>
                    </li>
                    <li class="ds_contents-nav__item">
                        <a  href="#" class="ds_contents-nav__link">Apply for a private water supply grant</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="ds_layout__content">
            <p>You must contact Scottish Water if you want to move from a private water supply to using the public water supply, knowns as the mains water network.</p>
            <p>Scottish Water's website has <a href="#">guidance on moving from a private supply</a>. This includes details of any checks they'll need to carry out.</p>
            <p>If Scottish Water refuses to connect you, you can <a href="#">appeal their decision</a>.</p>
            <nav class="ds_sequential-nav" aria-label="Article navigation">
                <div class="ds_sequential-nav__item  ds_sequential-nav__item--prev">
                    <a  href="#" class="ds_sequential-nav__button  ds_sequential-nav__button--left">
                        <span class="ds_sequential-nav__text" data-label="previous">
                        Treating a private water supply
                        </span>
                    </a>
                </div>
                <div class="ds_sequential-nav__item  ds_sequential-nav__item--next">
                    <a  href="#" class="ds_sequential-nav__button  ds_sequential-nav__button--right">
                        <span class="ds_sequential-nav__text" data-label="next">
                        Report problems with your private water supply
                        </span>
                    </a>
                </div>
            </nav>
        </div>
    </main>
</div>