<div class="ds_wrapper">
    <a class="ds_back-link" href="#">Back to 'Apply for a licence'</a>

    <main id="main-content" class="ds_layout  ds_layout--question">
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <span class="ds_page-header__label ds_content-label">Personal details</span>
                <h1 class="ds_page-header__title">Check your details</h1>
            </header>
        </div>
        <div class="ds_layout__content">

            <ul class="ds_summary-list">
                <li class="ds_summary-list__item">
                    <span class="ds_summary-list__key" id="item-personal1-key">Is a letting agent managing the property?</span>
                    <span class="ds_summary-list__value">
                        Yes
                    </span>
                    <div class="ds_summary-list__actions">
                        <button type="button" class="ds_link" aria-describedby="item-personal1-key">
                            Change
                        </button>
                    </div>
                </li>
                <li class="ds_summary-list__item">
                    <span class="ds_summary-list__key" id="item-personal2-key">Name of letting agent</span>
                    <span class="ds_summary-list__value">
                        Andrew Brown
                    </span>
                    <div class="ds_summary-list__actions">
                        <button type="button" class="ds_link" aria-describedby="item-personal2-key">
                            Change
                        </button>
                    </div>
                </li>
                <li class="ds_summary-list__item">
                    <span class="ds_summary-list__key" id="item-personal3-key">Phone number of letting agent</span>
                    <span class="ds_summary-list__value">
                        01234 567 890
                    </span>
                    <div class="ds_summary-list__actions">
                        <button type="button" class="ds_link" aria-describedby="item-personal3-key">
                            Change
                        </button>
                    </div>
                </li>
                <li class="ds_summary-list__item">
                    <span class="ds_summary-list__key" id="item-personal4-key">Landlord 1</span>
                    <span class="ds_summary-list__value">
                        <dl>
                            <dt>Name</dt>
                            <dd>Laura Smith</dd>
                            <dt>Registration number</dt>
                            <dd>1658992971</dd>
                            <dt>Email</dt>
                            <dd>laura.smith@example.com</dd>
                            <dt>Phone number</dt>
                            <dd>01234 567 891</dd>
                        </dl>
                    </span>
                    <div class="ds_summary-list__actions">
                        <button type="button" class="ds_link" aria-describedby="item-personal4-key">
                            Change
                        </button>
                    </div>
                </li>
                <li class="ds_summary-list__item">
                    <span class="ds_summary-list__key" id="item-personal5-key">Landlord 2</span>
                    <span class="ds_summary-list__value">
                        <dl>
                            <dt>Name</dt>
                            <dd>Joe Clark</dd>
                            <dt>Registration number</dt>
                            <dd>4769039485</dd>
                            <dt>Email</dt>
                            <dd>joe.clark@example.com</dd>
                            <dt>Phone number</dt>
                            <dd>01234 567 892</dd>
                        </dl>
                    </span>
                    <div class="ds_summary-list__actions">
                        <button type="button" class="ds_link" aria-describedby="item-personal5-key">
                            Change
                        </button>
                    </div>
                </li>
            </ul>
            <div class="ds_button-group">
                <button class="ds_button ds_button--secondary">Back</button>
                <button class="ds_button">Continue application</button>
            </div>
        </div>

    </main>
</div>
