{%- macro phaseBanner(params) -%}
<div class="ds_phase-banner">
    <div class="ds_wrapper">
        <p class="ds_phase-banner__content">
            <strong class="ds_tag  ds_phase-banner__tag">{{params.tagText}}</strong>
            <span class="ds_phase-banner__text">This is a new service. Your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
</div>
{%- endmacro -%}

{{phaseBanner({
    tagText: tagText
})}}
