{%- macro icon(params) -%}
<svg class="ds_icon {% if params.size %} ds_icon--{{ params.size }}{% endif %} {% if params.isFill %}ds_icon--fill{% endif %} {% if params.isColouredIcon %}coloured-icon{% endif %}" aria-hidden="true" role="img">
    <use href="/images/icons.stack.svg#{{ params.name }}"></use>
</svg>

<style>
    .coloured-icon {
        color: red
    }
</style>
{%- endmacro -%}

{{icon({
    isColouredParent: isColouredParent,
    isColouredIcon: isColouredIcon,
    isFill: isFill,
    name: name,
    size: size
})}}
