{%- macro pbCards(params) -%}
<div class="ds_pb  ds_pb--cards {%- if params.background and params.background != 'none' %}  {{params.background}}{% endif %}">
    <div class="ds_wrapper">
        <div class="ds_pb__inner {%- if not hasBottomPadding %}  ds_!_padding-bottom--0{% endif %}">
            <div class="ds_card  ds_card--hover">
                <div class="ds_card__media">
                    <div class="ds_aspect-box">
                        <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="/images/placeholders/highland-cow.jpg" />
                    </div>
                </div>
                <div class="ds_card__content">
                    <div class="ds_card__content-header">
                        <h2 class="ds_card__title">
                            <a class="ds_card__link  ds_card__link--cover" href="#">Becoming a social worker</a>
                        </h2>
                    </div>
                    <div class="ds_card__content-main">
                        <p>Check how to access accredited courses.</p>
                    </div>
                </div>
            </div>
            <div class="ds_card  ds_card--hover">
                <div class="ds_card__media">
                    <div class="ds_aspect-box">
                        <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="/images/placeholders/highland-cow.jpg" />
                    </div>
                </div>
                <div class="ds_card__content">
                    <div class="ds_card__content-header">
                        <h2 class="ds_card__title">
                            <a class="ds_card__link  ds_card__link--cover" href="#">Becoming a social worker</a>
                        </h2>
                    </div>
                    <div class="ds_card__content-main">
                        <p>Check how to access accredited courses.</p>
                    </div>
                </div>
            </div>
            <div class="ds_card  ds_card--hover">
                <div class="ds_card__media">
                    <div class="ds_aspect-box">
                        <img alt="" aria-hidden="true" class="ds_aspect-box__inner" src="/images/placeholders/highland-cow.jpg" />
                    </div>
                </div>
                <div class="ds_card__content">
                    <div class="ds_card__content-header">
                        <h2 class="ds_card__title">
                            <a class="ds_card__link  ds_card__link--cover" href="#">Becoming a social worker</a>
                        </h2>
                    </div>
                    <div class="ds_card__content-main">
                        <p>Check how to access accredited courses.</p>
                    </div>
                </div>
            </div>
    </div>
</div>
{%- endmacro -%}

{{pbCards({
    background: background,
    hasBottomPadding: hasBottomPadding
})}}