{%- macro siteHeader(params) -%}
{%- from 'src/components/phase-banner/phase-banner.njk' import phaseBanner -%}
{%- from 'src/components/site-navigation/site-navigation.njk' import siteNavigation -%}
{%- from 'src/components/site-search/site-search.njk' import siteSearch -%}

<header class="ds_site-header {%- if params.gradient %} ds_site-header--gradient{%- endif %} {%- if params.reversed %} ds_reversed{%- endif %}" {%- if params.styles %} style="{{ params.styles }}"{%- endif %}>
    <div class="ds_wrapper">
        <div class="ds_site-header__content">
            <div class="ds_site-branding">
                <a class="ds_site-branding__logo ds_site-branding__link" href="#">
                    <img class="ds_site-branding__logo-image" src="/images/scottish-government.svg" alt="Scottish Government" width="300" height="93" />
                </a>
                {%- if params.siteTitle %}
                <div class="ds_site-branding__title">
                    {{ params.siteTitle }}
                </div>
                {%- endif %}
            </div>
            {%- if hasNavigation %}
                {{siteNavigation({items: params.navItems, label: 'Main navigation', isMobileNav: true})}}
            {%- endif %}
            {%- if params.hasSearch %}
                {{siteSearch({modifierClasses: 'ds_site-header__search'})}}
            {%- endif %}
        </div>
    </div>
    {%- if params.hasPhaseBanner %}
        {{phaseBanner()}}
    {%- endif %}
    {%- if params.hasNavigation %}
    <div class="ds_site-header__navigation">
        <div class="ds_wrapper">
            {{siteNavigation({items: params.navItems, label: 'Main navigation'})}}
        </div>
    </div>
    {%- endif %}
</header>
{%- endmacro -%}

{{siteHeader({
    hasNavigation: hasNavigation,
    hasPhaseBanner: hasPhaseBanner,
    hasSearch: hasSearch,
    navItems: navItems,
    siteTitle: siteTitle
})}}
