<ol class="ds_category-list  ds_category-list--grid  ds_category-list--narrow">
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/benefits" class="ds_category-item__link">
                        Benefits
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Disability, child, food, heating, carers
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/housing" class="ds_category-item__link">
                        Housing
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Landlords, rent, council tax, buying a home
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/health-social-care" class="ds_category-item__link">
                        Health, social care and wellbeing
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        GPs, dentists, power of attorney, period products
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/work-jobs" class="ds_category-item__link">
                        Working, jobs and careers
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Bank holidays, disclosure, PVG checks
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/driving-transport" class="ds_category-item__link">
                        Driving and transport
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Blue badge, bus passes and road laws
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/local-services" class="ds_category-item__link">
                        Local services
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Local councils, bins, libraries
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/living-visiting-scotland" class="ds_category-item__link">
                        Living in and visiting Scotland
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Citizenship, support, voting and tourism
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/education-training" class="ds_category-item__link">
                        Education and training
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Holidays, EMA, student loans, clothing grants
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/business" class="ds_category-item__link">
                        Business
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Non-domestic rates, funding, parental leave
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/birth-death-family" class="ds_category-item__link">
                        Births, deaths and family
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Childcare, certificates, marriage, child maintenance
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/crime-justice-law" class="ds_category-item__link">
                        Crime, justice and the law
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Criminal convictions, courts, legal aid, police
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/money-tax" class="ds_category-item__link">
                        Money and tax
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Rates, debt, bankruptcy
                    </p>
            </div>
        </li>
        <li class="ds_card  ds_card--has-hover  ds_card--fixed-height">
            <div class="ds_category-item  ds_category-item--card">
                <h2 class="ds_category-item__title">
                    <a href="/browse/environment-farm-marine" class="ds_category-item__link">
                        Environment, farming and marine
                    </a>
                </h2>

                    <p class="ds_category-item__summary">
                        Environmental impact report, water quality
                    </p>
            </div>
        </li>
</ol>