{%- macro checkbox(params) -%}
{%- if params.isExclusive %}<p class="ds_checkbox-separator">or</p>{% endif %}
<div class="ds_checkbox {% if params.isSmall %}ds_checkbox--small{% endif %}">
    <input class="ds_checkbox__input"
        {%- if params.checked %}checked{%- endif %}
        {%- if params.isExclusive %}data-behaviour="exclusive"{%- endif %}
        id="{{params.id}}"
        name="{{params.name | default(params.id)}}"
        type="checkbox"
    >
    <label class="ds_checkbox__label" for="{{params.id}}">{{params.label}}</label>
    {%- if params.hintText %}<p class="ds_hint-text">{{params.hintText}}</p>{%- endif %}
    {%- if params.isOther %}
    <div class="ds_question__sub">
        <div class="ds_question">
            <label class="ds_label" for="{{params.id}}-other-text">{{params.labelOther}} <span class="visually-hidden">(if "other" selected)</span></label>
            <input type="text" id="{{params.id}}-other-text" class="ds_input">
        </div>
    </div>
    {%- endif %}
</div>
{%- endmacro -%}

{{checkbox({
    checked: checked,
    hintText: hintText,
    id: id,
    isExclusive: isExclusive,
    isOther: isOther,
    isSmall: isSmall,
    label: label,
    labelOther: labelOther,
    name: name
})}}
