{%- macro checkboxGroup(params) -%}
{%- from 'src/components/checkbox/checkbox.njk' import checkbox -%}
<div class="ds_checkboxes  ds_field-group" data-module="ds-checkboxes">
    {{checkbox({
        id: 'universal-credit',
        label: 'Universal credit',
        isSmall: params.isSmall
    })}}
    {{checkbox({
        id: 'pension-credit',
        label: 'Pension credit',
        isSmall: params.isSmall
    })}}
    {{checkbox({
        id: 'jsa',
        label: "Income-based Job Seeker's Allowance",
        isSmall: params.isSmall
    })}}
    {%- if params.hasExclusive %}
    {{checkbox({
        id: 'none',
        label: 'No, I do not receive any of these benefits',
        isExclusive: true,
        isSmall: params.isSmall
    })}}
    {%- endif %}
<div>
{%- endmacro -%}

{{checkboxGroup({
    hasExclusive: hasExclusive,
    isSmall: isSmall
})}}
