{%- macro checkboxGroup(params) -%}
{%- from 'src/components/checkbox/checkbox.njk' import checkbox -%}
<div class="ds_checkboxes  ds_field-group" data-module="ds-checkboxes">
    {{checkbox({
        id: params.name + '-universal-credit',
        label: 'Universal credit',
        isSmall: params.isSmall
    })}}
    {{checkbox({
        id: params.name + '-pension-credit',
        label: 'Pension credit',
        isSmall: params.isSmall
    })}}
    {{checkbox({
        id: params.name + '-jsa',
        label: "Income-based Job Seeker's Allowance",
        isSmall: params.isSmall
    })}}
    {%- if params.hasExclusive %}
    {{checkbox({
        id: params.name + '-none',
        label: 'No, I do not receive any of these benefits',
        isExclusive: true,
        isSmall: params.isSmall
    })}}
    {%- endif %}
<div>
{%- endmacro -%}

{{checkboxGroup({
    name: name,
    hasExclusive: hasExclusive,
    isSmall: isSmall
})}}
