{%- macro searchFacetGroup(params) -%}
{%- from 'src/components/search-facets/search-facets.facet.njk' import searchFacet -%}
<div class="ds_facet-group">
    <dt class="ds_facet__group-title">
        {{params.title}}:
    </dt>
    {{searchFacet({title: 'Advice and guidance'})}}
    {{searchFacet({title: 'Factsheet', hasJoinContent: true, joinContent: params.joinContent})}}
    {{searchFacet({title: 'Statistics', hasJoinContent: true, joinContent: params.joinContent})}}
<div>
{%- endmacro -%}

{{searchFacetGroup({
    joinContent: joinContent,
    title: title
})}}
