{%- macro question(params) -%}
{%- from 'src/components/text-input/text-input.njk' import textInput -%}
{%- from 'src/components/checkbox/checkbox.njk' import checkbox -%}
<div class="ds_question {% if params.hasError %}ds_question--error{% endif %}">
    {%- if params.isFieldset %}
    <fieldset aria-describedby="ds_hint  error-message-1">
    {%- endif %}
    {%- if params.legend %}
    <legend>{{params.legend}}</legend>
    {%- endif %}
    {%- if params.hintText %}
    <p class="ds_hint-text" id="ds_hint">{{params.hintText}}</p>
    {%- endif %}
    {%- if params.errorMessage %}
    <p class="ds_question__error-message" id="error-message-1">{{params.errorMessage}}</p>
    {%- endif %}
    {%- if params.isFieldset %}
    <div class="ds_checkboxes  ds_field-group" data-module="ds-checkboxes">
        {{checkbox({
            id: 'universal-credit',
            label: 'Universal credit'
        })}}
        {{checkbox({
            id: 'pension-credit',
            label: 'Pension credit'
        })}}
        {{checkbox({
            id: 'jsa',
            label: "Income-based Job Seeker's Allowance"
        })}}
    </div>
    {%- else %}
    {{textInput({
        errorMessage: 'This is a required field',
        hasError: params.hasError,
        id: 'first-name',
        label: 'First name'
    })}}
    {%- endif %}
    {%- if params.isFieldset %}
    </fieldset>
    {%- endif %}
</div>
{%- endmacro -%}

{{question({
    errorMessage: errorMessage,
    hasError: hasError,
    hintText: hintText,
    isFieldset: isFieldset,
    legend: legend
})}}
