{%- macro question(params) -%}
{%- from 'src/components/text-input/text-input.njk' import textInput -%}
{%- from 'src/components/checkbox/checkbox.njk' import checkbox -%}
<{{params.tagName | default('div')}} class="ds_question {% if params.hasError %}ds_question--error{% endif %}">
    {%- if params.legend %}
    <legend>{{params.legend}}</legend>
    {%- endif %}
    {%- if params.hintText %}
    <p class="ds_hint-text">{{params.hintText}}</p>
    {%- endif %}
    {%- if params.errorMessage %}
    <p class="ds_question__error-message">{{params.errorMessage}}</p>
    {%- endif %}
    {%- if tagName == 'fieldset' %}
    <div class="ds_checkboxes  ds_field-group" data-module="ds-checkboxes">
        {{checkbox({
            id: 'universal-credit',
            label: 'Universal credit'
        })}}
        {{checkbox({
            id: 'pension-credit',
            label: 'Pension credit'
        })}}
        {{checkbox({
            id: 'jsa',
            label: "Income-based Job Seeker's Allowance"
        })}}
        {{checkbox({
            id: 'none',
            label: 'No, I do not receive any of these benefits',
            isExclusive: true
        })}}
    </div>
    {%- else %}
    {{textInput({
        errorMessage: 'This is a required field',
        hasError: params.hasError,
        id: 'first-name',
        label: 'First name'
    })}}
    {%- endif %}
</{{params.tagName | default('div')}}>
{%- endmacro -%}

{{question({
    errorMessage: errorMessage,
    hasError: hasError,
    hintText: hintText,
    legend: legend,
    tagName: tagName
})}}
