{%- macro accordion(params) -%}
<div class="ds_accordion{% if params.isSmall %}  ds_accordion--small{% endif %}" data-module="ds-accordion">
    {%- if params.hasOpenAll -%}
        <button data-accordion="accordion-open-all" type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>
    {%- endif -%}
    {%- for accordion in params.items %}
        <details class="ds_accordion-item">
            <summary class="ds_accordion-item__header">
                {{ accordion.heading }}
                <span aria-hidden="true" {% if params.openText %}data-open-text="{{ params.openText }}"{% endif %}{% if params.closeText %} data-close-text="{{ params.closeText }}"{% endif %} class="ds_accordion-item__indicator"></span>
            </summary>

            <div class="ds_accordion-item__body">
                {{ accordion.content | safe }}
            </div>
        </details>
    {%- endfor %}
</div>
{%- endmacro -%}

{{accordion({
    closeText: closeText,
    hasOpenAll: hasOpenAll,
    isSmall: isSmall,
    items: items,
    openText: openText
})}}
